@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:wght@100&family=Heebo:wght@400;700&family=Inter:wght@300&family=Montserrat&family=Open+Sans:ital,wght@1,500&family=Playfair+Display&family=Poppins:wght@300;500;700&family=Roboto:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:wght@100&family=Heebo:wght@400;700&family=Inter:wght@300&family=Montserrat&family=Open+Sans:ital,wght@1,500&family=Playfair+Display&family=Poppins:ital,wght@0,300;0,500;0,700;1,700&family=Roboto:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:wght@100&family=Heebo:wght@400;700&family=Inter:wght@300&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@1,500&family=Playfair+Display&family=Poppins:ital,wght@0,300;0,500;0,700;1,700&family=Roboto:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: #3f4a55; */
}

.logo-img{
    height: 50px;
}
.swiper {
    width: 100%;
    height: 100%;
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 60px!important;
    height: 60px!important;
    background-color: #333333;
    color: #fff!important;
    font-size: 10px!important;
    border-radius: 50%;
    z-index: 1!important;
   
   
  }
  .swiper-button-next:hover{
    background-color: #cf2227!important;
    z-index: 1!important;
  }
  .swiper-button-prev:hover{
    background-color: #cf2227!important;
    z-index: 1!important;
  }

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.toggle {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: 20px;
}


.toggle span {
    height: 3px;
    background: #fff;
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-bar {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
    /* /* box-shadow:#000000 0px 2px 5px 0px */
}

.top {
    border-top: 5px solid #ec1d25;
    position: relative;
}

.top-img img {
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-height: auto;
    overflow: hidden;
    position: relative;





}

.add-item {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
  padding-top: 20px;
  z-index: 1;
}

.top-1 {
    background-image: url(images/images/bg-title-page-01.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 5px solid #ec1d25;
}

.top-2 {
    background-image: url(images/images/bg-title-page-02.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #ec1d25;
}

.top-3 {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 5px solid #ec1d25;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items li {
    list-style-type: none;
}

.items li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 23.8px;
    padding: 15px;
    text-transform: uppercase;
}

.icon {
    display: flex;
}

.icon li {
    text-decoration: none;
    list-style-type: none;

}

.icon li .fa-brands,
.fa-regular {
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    padding-left: 20px;
}

.center-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 150px 170px;
}

.content span {
    text-align: center;
    font-family: Courgette;
    font-size: 60px;
    line-height: 1.1;
    color: white;
    margin-bottom: 15px;
}

.content h2 {
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    font-size: 90px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
    margin-bottom: 37px;
}

.content .tit6 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
}

#first-button a {
    padding: 13px 25px;
    background-color: #fff;
    color: #ec1d25;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    border: none;
}

#first-button a:hover {
    background-color: #ec1d25;
    color: #fff;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.dot-list {
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 20px;
}

/* PART-2 */
.main-color {
    background-image: url(/images/images/pattern1.png.webp);
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
    padding: 120px 0px 105px;

}

.about {
    width: 570px;
    padding: 45px 15px 30px;
}

.about span {
    font-family: Courgette;
    font-size: 30px;
    font-weight: 400;
    color: #d61c22;
}

.about h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 5px 35px;
}

.about p {
    margin: 0px 20px 20px !important;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.about-img {
    max-width: 390px;
    position: relative;
    overflow: hidden;
}

.zoom-in {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.zoom-in:hover {
    transform: scale(1.2);

}

.txt4 {

    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.tax4:hover {
    color: #d61c22;
}

/* par3 */

.master-side {
    background-image: url(/images/images/bg-intro-01.jpg.webp);
    background-repeat: no-repeat;
    background-position: center 37.1333px;
    background-blend-mode: overlay;
    color: #222222;
    background-attachment: fixed;

    text-align: center;
}

.master-item {
    padding: 135px 0px 158px;
}

.cover {
    font-family: Courgette;
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
}

.tag {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 6px;
}

/* part=4 */
.location {
    display: flex;
    flex-wrap: wrap;
    padding: 77px 0px 133px;
}

.card {
    max-width: 370px;
    padding: 30px 15px 0px;

}

.card img {
    border-radius: 10px;


}

.card-cnt a {
    text-decoration: none;
}

.card-cnt a h4:hover {
    color: #d61c22;
}

.card-cnt h4 {
    padding-top: 35px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    margin-bottom: 13px;

}

.card-cnt p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    margin-bottom: 20px;
}

.txt4:hover {
    color: #d61c22;
}

/* PART 5 */

.our-manu {
    text-align: center;
    background-image: url(/images/images/icons-pattern2.png);
}

.tag-1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 8px;

}

.manues {
    display: flex;
    flex-wrap: wrap;

}

.manues-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;

}

.img-1 {
    max-width: 370px;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
}

.img-1 img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.size {
    width: 150px;

    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    position: absolute;
    top: 44%;
    left: 30%;
    text-align: center;
    padding: 16PX 0PX;
    text-decoration: none;
}

.size-1 {
    width: 255px;

    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    position: absolute;
    top: 36%;
    left: 34%;
    text-align: center;
    padding: 16PX 0PX;
    text-decoration: none;
}

.size-2 {
    width: 150px;

    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    position: absolute;
    top: 36%;
    left: 32%;
    text-align: center;
    padding: 16PX 0PX;
    text-decoration: none;
}

.size:hover,
.size-1:hover,
.size-2:hover {
    background-color: #ec1d25;
    color: #fff;
}

.text5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.img-2 {
    max-width: 370px;
    padding: 0px 15px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.img-2 img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img-2 img:hover {
    transform: scale(1.2);
}

.img-1 img:hover {
    transform: scale(1.2);
}

.img-3 {
    max-width: 738px;
    padding: 24px 15px;
    position: relative;
    overflow: hidden;
}

.img-3 img {
    border-radius: 10px;
    transition: transform 0.3s ease;

}

.img-3 img:hover {
    transform: scale(1.2);
}

.manues-contaniner {
    padding: 155px 0px 120px;
}

.manues-contaniner .tag {
    color: #222222;

}

/* part6 */

.events {
    background-image: url(/images/images/bg-event-04.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.event-part {
    padding: 155px 0px 208px;
}

.event-timeing {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 45px;

}

.event-img {
    width: 50%;

}

.event-img img {
    width: 100%;
    height: 100%;
}

.effect-1 span {
    width: 390px;
    height: 50px;
    transform-origin: center center;
    position: absolute;
    top: 48%;
    left: 2%;
    border-top-left-radius: 2px;
    background-color: #cf2227;
    opacity: 0.9;
    color: #fff;
    transform: translate(-50%, -50%) rotateZ(90deg);
    padding-top: 18px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.event-detail {
    background-color: white;
    width: 50%;
    padding: 45px 40px 30px;
}

.tit7 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.t-center {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.time-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

#day, #hours, #mintues, #seconds {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    color: #ec1d25;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.date p {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.txt9 {
    margin-top: 40px;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* PART 7 */

.book-table {
    text-align: center;
    background-image: url(/images/images/pattern1.png.webp);

}

.tag-1 {
    color: #222222;
}

.table-time {
    padding: 100px 0px 110px;
    display: flex;
    flex-wrap: wrap;
}

.table-1 {
    width: 50%;

}

.one {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date {
    display: block;
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #555555;
}

.form-1 {
    width: 270px;
}

#input {

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
    padding: 15px 0px 15px 20px;
    background-color: #fff;
    margin: 3px 0px 23px;

}

.side-cnt {
    width: 50%;
}

.side-cnt img {
    max-width: 390px;
    border-radius: 10px;
}

.btn3 {
    width: 150px;
    height: 40px;
    background-color: #111111;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

/* part7 */

.review {
    text-align: center;
    padding: 115px 0px 0px;
}

.data {
    padding: 50px 0px;
}

.pic-review {
    width: 118px;
    height: 118px;
    border: 4px solid #ec1d25;
    border-radius: 50%;
    margin: 0 auto;

}

.pic-review img {
    border-radius: 50%;
}

.txt12 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    line-height: 1.7;
    max-width: 890px;
    text-align: center;
    margin: 0 auto;

}

.star {
    margin-top: 30px;
}

.star-review {
    color: #ec1d25;
    margin-top: 12px;
}

.more-review {
    margin-top: 32px;
}

/* part 9 */
.master-side-1 {
    background-image: url(/images/images/bg-cover-video-02.jpg.webp);
    background-repeat: no-repeat;
    background-position: center -69.1833px;
    background-blend-mode: overlay;
    background-color: #222222;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    text-align: center;
}

.master-item-1 {
    padding: 225px 0px 250px;
   
}

.round-video {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
   
}

.round-video {
    margin-top: 45px;
    cursor: pointer;
}

.round-video .fa-solid::before {
    content: "\f04b";
    position: relative;
    top: 23px;
    left: 2px;
    font-size: 24px;
    color: #212529;
}
#videoItem {
    max-width: 100%;
    height: 100%;
    display: none; 
    position: absolute;
    top: 0;/* Initially hide the video */
}
#openButton{
    background-color: #ff0000; /r */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Font size */
    margin-top: 10px; /
    
}

.blog {

    padding: 115PX 0PX 123PX;
}

.BLOG-ITEM {
    text-align: center;
}

.location-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
}

/* PART 11 */

.sign-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(/images/images/icons-pattern1.png);
    padding: 85px 0px 85px;



}

.sign-in #input {
    width: 350px;
    margin: 10px;
}

.sign-in .txt5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px;
}

.sign-in .btn3 {
    margin: 10px;
}

/* footer */

.footer {
    background-color: #222222;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 15px 70px;
}

.part-1,
.letest {
    padding: 50px 15px 0px;
}

.letest {
    max-width: 370px;
}

.txt13 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px 0px 33px;
}

.li-item i {
    padding-right: 10px;
}

.li-item {
    margin-bottom: 40px;
}

.li-item li,
.item-li li {
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    line-height: 1.7;
    margin: 0px 0px 14px;
}

.txt15 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #ec1d25;
    line-height: 1.7;
}

.txt14 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    line-height: 1.7;
    margin-bottom: 18px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.txt16 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #555555;
}

.m-b-25 i {
    color: #cccccc;
    ;
}

.gallary-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 6px;
    column-gap: 6px;
    opacity: 1;
  


}

.gallary-img img {
    max-width: 80px;
    max-height: 80px;
    transition: transform 0.3s;

}

.gallary-img img:hover {

    transform: scale(1.1);
    background-blend-mode: overlay;
    background-color: #d61c22;
    opacity: 0.9;

}

.gallery-img img:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.9);
    /* Red background with 0.9 opacity */
    z-index: -1;
}

.last-footer {
    background-color: #111111;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 22px 15px;
    flex-wrap: wrap;
}

.p-t-5 {
    padding: 5px 0px;
}

.p-t-5 a i {
    padding-right: 11px;
    color: white;
}

.p-t-5 {
    color: white;
}

.txt17 {
    padding: 5px 20px 5px 0px;
}

.p-t-5 a {
    list-style: none;
    color: white;
    text-decoration: none;

}

.btn3:hover {
    background-color: #cf2227;
    color: #fff;
}




/*<<<<<<<<<<<<<< menu css>>>>>>>>>>>>>>>>>>>>>>>>>> */

.rate-list {
    background-image: url(/images/images/pattern1.png.webp);
    padding: 110px 0px 70px;
}

.rate-item {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.tit10 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 25px;
}

.list-1 {
    width: 47%;
    padding: 0px 350x 15px 0px;
}

.list-2 {
    width: 47%;
    padding: 0px 350x 15px 0px;
}

.flex-item {
    display: flex;
    align-items: flex-end;
}

.item-mainmenu {
    margin-bottom: 36px;
}

.line-item-mainmenu {
    flex-grow: 1;
    height: 2px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px dotted grey;

}

.bg-pattern {
    background-image: url(/images/images/pattern3.png.webp);
    background-repeat: repeat;
    background-size: cover;
}

.txt21 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    color: #333333;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 2px;

    text-decoration: none;
}

.txt22 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
}

.txt23 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    line-height: 1.7;
}


.master-side-1 {
    background-image: url(/images/images/header-menu-01.jpg.webp);
    background-repeat: no-repeat;
    background-position: center 37.1333px;
    background-blend-mode: overlay;
    color: #222222;
    background-attachment: fixed;

    text-align: center;
}

.master-item-1 {
    padding: 170px 0px 165px;
}

/* part-3 */
.menu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 108px 0px 70px;
}

.menu-item-list {
    display: flex;
    margin-bottom: 30px;
    /* justify-content: space-between; */
}

.menu-list-img {
    width: 160px;
    height: 120px;
    border-radius: 10px;
}

.menu-list-img img {
    border-radius: 10px;
}

.menu-1,
.menu-2 {
    padding: 0px 15px;
    width: 45%;
}

.txt21 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    color: #333333;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

.txt23 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    line-height: 1.7;
}

.txt22 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 20px;
}

.main-list-cnt {
    margin-left: 30px;
}

/* PART-4 */
.master-side-2 {
    background-image: url(/images/images/header-menu-02.jpg.webp);
    background-repeat: no-repeat;
    background-position: center 37.1333px;
    background-blend-mode: overlay;
    background-color: #222222;
    background-attachment: fixed;

    text-align: center;
}

.master-item-2 {
    padding: 170px 0px 165px;
}

.gallary-img-1 img {
    max-width: 20.84px;

    transition: transform 0.3s;
}


/*<<<<<<<<<<<<<<<<<<<<<< reservation css>>>>>>>>>>>>>>>>>>>> */

.form-2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.date-1 {
    display: block;
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #555555;

}

#input-1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
    padding: 15px 0px 15px 20px;
    background-color: #fff;
    margin: 3px 0px 23px;

}

.input-res {
    margin-right: 10px;
}

.book-table-1 {
    padding: 100px 0px 113px;
    text-align: center;
}

.book-table-1 .tag-1 {
    margin: 2px 0px 35px;
}

.info-resver {
    display: flex;
    flex-wrap: wrap;
}

.size23 {
    width: 55%;
    padding-top: 40px;
    padding-right: 30px;
}

.size24 {
    width: 45%;
    padding-top: 40px;
}

.txt5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: start;
}

.txt5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 18px;
}

.size25 {
    max-width: 520px;
}

.size25 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    text-align: start;
}

.size26 {
    max-width: 500px;
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.txt24 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #ec1d25;
}

/* gallary css */

.size27 {
    max-width: 650px;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.is-actived {
    background-color: #111111;
    color: white;
}

.label-gallery {
    border-radius: 10px;
    padding: 2px 11px;
    margin: 5px 0;
    border: none;
    margin-bottom: 60px;
}

.label-gallery:hover {
    background-color: #111111;
    color: white;
}

.txt26 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallary-main {
    padding: 118px 0px 100px;
}

.wrap-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-gallery {
    width: calc((100% - 140px) / 3);
    margin: 30px 15px;
    position: relative;
    overflow: hidden;

}

.item-gallery img {
    border-radius: 10px;
    height: 100%;
    overflow: hidden;

}

.item-gallery::before,
.item-gallery::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.plus {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translate(-50%, -50%);
}

.item-gallery img {
    transition: transform 0.3s ease;
}

.item-gallery:hover::before,
.item-gallery:hover::after {
    background-color: rgba(255, 0, 0, 0.5);
}

.item-gallery:hover img {
    transform: scale(1.1);
}

.item-gallery:hover .plus {
    opacity: 1;
}

.all-gallery-img {
    padding: 0px 25px;
}

/* about css */

.tit2 {
    font-family: Courgette;
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
}

.size32 {
    max-width: 868px;
    text-align: center;
    margin: 0px auto;
}

.tit3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.t-center {
    text-align: center;
}

.bg2-pattern {
    background-image: url(/images/images/pattern2.png.webp);
    background-repeat: repeat;
    padding: 116px 15px 110px;
}

.meet {
    text-align: center;
    margin-bottom: 50px;
}

.meet span {
    font-family: Courgette;
    font-size: 30px;
    font-weight: 400;
    color: #d61c22;
}

.meet h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 5px 50px;
}

.chef-detail {
    max-width: 370px;
    height: 380px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    text-align: center;
    padding: 90px 35px 30px;
    margin-bottom: 77px;

}

.chef-detail-1 {
    max-width: 370px;
    height: 380px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    text-align: center;
    padding: 90px 35px 30px;
    position: relative;
    margin-bottom: 77px;
}

.txt34 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 6px;
}

.txt35 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    text-transform: uppercase;
    line-height: 1.8;
    display: block;
    padding-bottom: 25px;
}

.chef-img {
    width: 118px;
    height: 118px;
    border: 4px solid #ec1d25;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    left: 126px;
}

.chef-img-1 {
    width: 118px;
    height: 118px;
    border: 4px solid #ec1d25;
    border-radius: 50%;
    position: absolute;
    top: -58px;
    left: 126px;
}

.chef-img-2 {
    width: 118px;
    height: 118px;
    border: 4px solid #ec1d25;
    border-radius: 50%;
    position: absolute;
    top: -58px;
    left: 126px;
}

.chef-img img {
    border-radius: 50%;
}

.chef-img-1 img {
    border-radius: 50%;
}

.chef-img-2 img {
    border-radius: 50%;
}

.chef-row {
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-1 {
    width: 570px;
    padding: 45px 15px 30px;
}

.about-1 h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 5px 35px;
}

.about-1 p {
    margin: 0px 20px 20px !important;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.chef {
    padding: 115px 0px 95px;
}


/* blog css */

.bread-ceumb {
    border-bottom: 1px solid #e6e6e6;
    padding: 17px 0px;
}

.txt27 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.txt29 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.txt29 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.bo5-r {
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding: 80px 50px 24px;
}

.border {
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding: 80px 50px 124px 0px;
}

.border-1 {
    max-width: 819.2px;
    padding-bottom: 67px;
    position: relative;
    overflow: hidden;
}

.border-1 img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.border-1 img:hover {
    transform: scale(1.2);
}

.blog-cnt {
    padding-top: 33px;
}

.tit9 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 16px;
    text-decoration: none;
}

.txt32 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;

}

p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin-bottom: 30px;
}

.dis-block {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
}

.date-blo4 {
    width: 75px;
    height: 82px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: #ec1d25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt30 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 39px;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.txt31 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.category {
    padding: 0px 15px;
}

.side-bar {
    width: 250px;
    padding: 80px 0px 80px 20px;
}

.search-bar {
    width: 100%;
    height: 50px;
    border: 2px solid #d9d9d9;
    position: relative;
}

.input-search {

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 14px;
    outline: none;
    border: none !important;

}

.btn-search-sidebar2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    background-color: #333333;
    color: white;
    font-size: 18px;
}

.btn-search-sidebar2 .fa-solid:hover {
    color: #cf2227;
}

.txt33 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 58px;
    padding-bottom: 35px;
}

.bo5-b {
    list-style-type: none;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    padding-top: 8px;

}

.txt27 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.txt34 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 58px;

}

.flex-w {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between;
}

.size16 {
    width: 70px;
    height: 70px;
   transition:  transform 0.3s;
}

.size16 img:hover{
    transform: scale(0.3s);
}

.size16 img {
    width: 100%;
    border-radius: 10px;

}

.size28 {
    width: calc(100% - 88px);
}

.txt28 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: block;
    margin-bottom: 8px;
    margin-top: 0px;
    text-decoration: none;
}

.most-popular {
    padding: 80px 0px 80px 20px;
}

.flex-sb-m {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
}


/* ......................contact css ......................*/

.map {
    width: 100%;
    height: 600px;
    padding: 90px 0px 0px;
    position: relative;

}

.google {
    background-color: white;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 15px 25px;
    box-sizing: border-box;
    top: 95px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    left: 50%;

    max-width: 375px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    z-index: 1;
}

.google .txt18 {
    font-family: Montserrat;
    margin: 15px 0px;
    font-size: 15px;
    color: #111111;
    line-height: 1.7;

}

.google .txt32 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
    line-height: 1.5;

    padding-bottom: 7px;

}

.website {
    display: flex;
    justify-content: space-between;
}

.ok {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 36px;
    cursor: pointer;
    padding: 8PX 24px;

}

.send-message .tit7 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 105px 0px 62px 0px;
}

.message-input {
    width: 100%;
    min-height: 180px;
    text-align: start;
    border: 2px solid #d9d9d9;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.btn4 {
    width: 150px;
    height: 40px;
    background-color: #111111;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;

}

.btn4:hover {
    background-color: #cf2227;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-box {
    background-image: url(/images/images/icons-pattern1.png);
    background-repeat: repeat;
}

.send-message {
    max-width: 870px;
    margin-right: auto;
    margin-left: auto;
}

.our-contact {
    display: flex;
    padding-top: 135px;
    padding-bottom: 113px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.p-r-40 {
    padding-right: 40px;
    padding-top: 6px;
}

.dis-flex {
    display: flex;
}

.flex-col-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.size38 {
    max-width: 190px;
}








/* media */

@media (max-width:768px) {
    
   .top-img{
    height: 370px;
   }
    .size23,
    .size24 {
        width: 100%;
    }

    .form-2 {
        grid-template-columns: auto;
        padding: 0px 12px;
    }

    .content h2 {
        font-size: 60px;
    }

    .event-img,
    .event-detail {
        width: 100%;
    }

    .table-1,
    .side-cnt {
        width: 100%;
    }

    .one {
        justify-content: center;
        padding: 0px 15px 30px;
    }

    .side-cnt img,
    .about-img,
    .about {
        width: 290px;
    }

    .table-time,
    .event-part {
        padding: 0px;
    }

    .size-1 {
        top: 38%;
        left: 17%;
    }

    .welcome {
        margin-left: 0px;
        margin-right: 0px;
    }

    .center-cnt {
        padding: 0px;
    }

    .about h3 {
        letter-spacing: 0px;
        margin: 0px;
    }

    .effect-1 span {
        transform: translate(-50%, -50%) rotate(0deg);
        top: 16px;
        left: 50%;
    }

    .time-zone {
        display: grid;
        grid-template-columns: auto auto;
    }

    .table-1 {
        margin-bottom: 30px;
    }



    .part-1,
    .letest {
        padding: 50px 12px 0px;
    }

    .row {
        padding: 40px 15px 70px;
        justify-content: center;
        align-items: center;

    }

    .img-3 img {
        height: 212px;
    }

    .gallary-img img {
        width: 73.6px;
        height: 73.6px;
    }

    .list-1,
    .list-2,
    .menu-1,
    .menu-2 {
        width: 100%;
        padding: 0px 15px;
    }

    .line-item-mainmenu {
        display: none;
    }

    .menu-item-list {
        align-items: flex-start;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .rate-item {
        margin: 0px;

    }

    .flex-item {
        justify-content: space-between;
    }

    .main-list-cnt {
        margin: 0px;
    }

    .content .name {
        font-size: 30px;
    }

    .size27,
    .wrap-gallery {
        flex-direction: column;
    }

    .item-gallery {
        width: 100%;
        margin: 30px 0px;
    }

    .top-2,
    .top-3,
    .top-1 {
        padding: 150px 0px;
        background-position: center;
    }

    .about-1 h3 {
        font-size: 23px;
    }

    .chef-img,
    .chef-img-1,
    .chef-img-2 {
        left: 108px;
    }

    .border-1 {
        width: 100%;
    }

    .border {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bread-ceumb {
        text-align: center;
    }

    .side-bar {
        padding: 0px;
    }

    .most-popular {
        padding: 0px;
    }

    .nav-bar {
        display: none;
    }
    .welcome {
        padding-top: 40px;
    }
    


}
.close-button{
    position: absolute;
    top: 4px;
    right: 10px;
    padding: 10px 10px;
    font-size: 40px;
    border: none;
    font-weight: 100;
    background-color: #fff;

}
.close-button:hover{
    color: red;
}
.last-icon{
    display: flex;
 
    align-items: center;
}

.right-item {

    background-color: #fff;
    text-align: center;
    max-width: 400px;
    position: fixed;
    top: 0;
    right: -470px;
    /* Initially hidden off-screen */
   
    height: 100%;

    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1;



}

.menu {
    right: 0;
}

.items-1 {
    padding: 95px 0px 70px;
}

.items-1 li {

    margin-bottom: 20px;
    list-style-type: none;
}

.items-1 li a {
    text-decoration: none;
    color: #111111;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 23.8px;
    padding: 15px;
    text-transform: uppercase;
}

#second-button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #111111;
}

#second-button a {
    color: #fff;
    text-decoration: none;

}

.txt45 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px 0px 33px;
}

.side-nav-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 6px;
    column-gap: 6px;
    opacity: 1;
    padding: 0px 20px 40px;
}

.side-nav-img img {
    max-width: 76px;
    max-height: 76px;
}

.scroolBtn{
    position: fixed;
    right: 1px;
    bottom: 7px;
    width: 36px;
    height: 30px;
    z-index: 2;
  
 
   
}
#scrollToTopBtn{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: black;
    border-radius: 4px;
    border: none;
}



@keyframes rotateInLeft {
    0% {
        transform: translateX(-100%) rotate(-180deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}



.rotate-in-left {
    animation: rotateInLeft 2s ease-in-out forwards; /* Adjust the duration and easing as needed */
}



/* Center the content */
.center-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

/* Style the content container */
.content {
    text-align: center;
}

/* Style the button */
.rotate-in-left button {
    display: inline-block;
    animation: rotateInLeft 2s ease forwards; /* Apply the same animation to the button */
}
.rotate-in-left span {
    display: inline-block;
}

  










